```
        origin_df = pd.read_excel(file_path,nrows=10,header=None,sheet_name=sheet_name)

```
当前表格提取多sheet表头采用遍历方式
验证是否只需转换/执行一次origin_df，再指定sheet_name

In [1]:
filepath  = r"E:\表格解析\data\财务报表.xlsx"

In [2]:
import pandas  as pd

df =pd.ExcelFile(filepath)

In [3]:
df.sheet_names

['收入表',
 '支出表',
 '运营数据表',
 '收支数据统计',
 '账户及科目设置',
 '数据汇总看板',
 '2021年利润分析表',
 '2022年利润分析表',
 '2023年利润分析表',
 '2024年利润分析表',
 '收支表']

In [5]:

# 读取指定的 sheet 数据，假设要读取名为 "Sheet1" 的表
df.parse('收入表', nrows=10, header=None)

d:\python\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,0,1,2,3,4,5,6,7,8
0,NaN,NaN,收入明细表,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD,1785223.69
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,CNY,15755047.41
4,NaN,NaN,NaN,NaN,汇率,7.1,收入总计,NaN,28430135.609
5,索引(年),索引(月),日期,收入,NaN,NaN,NaN,账户,备注
6,NaN,NaN,NaN,科目,明细,币种,收入金额,NaN,NaN
7,2021,11,2021-11-17 00:00:00,营业外收入,往来款,CNY,300,交通CNY,NaN
8,2021,11,2021-11-17 00:00:00,营业外收入,往来款,CNY,1,个账CNY,NaN
9,2021,11,2021-11-17 00:00:00,营业外收入,往来款,CNY,2,个账CNY,NaN